.flexp {


    text-align: center;

//     column-count: 2;
// max-height: calc(5 * #{$rowHeight});




    }


    input{

        text-align: center;
    }




    ion-icon{

        width: 100vh;
    }
